/* Estilos para el body */
body {
  font-family: Arial, sans-serif;
  background-image: url("images/benji-con-portatil.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que el fondo sea fijo */
  background-position: center; /* Centra la imagen de fondo */
  color: #a3cfb9e5;
  margin: 0; /* Elimina márgenes por defecto */
}

/* Estilos para el contenedor principal */
.container {
  text-align: center; /* Centra el texto dentro del contenedor */
  display: flex; /* Utiliza flexbox para alinear las secciones */
  flex-direction: column; /* Alinea las secciones verticalmente */
  align-items: center; /* Centra las secciones horizontalmente */
  gap: 20px; /* Espacio entre las secciones (opcional) */
  padding: 20px; /* Padding alrededor del contenedor (opcional) */
}

/* Estilos para el encabezado */
header {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: #2c3e50;
}

.h1-titulo {
  color: #0a0501;
}

/* Estilos para el pie de página */
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
.pedido {
  margin-top: 1em;
}

.pedido label {
  margin-right: 0.5em;
}

.pedido select {
  margin-right: 1em;
}

.boton-pedido {
  background-color: #8b4513; /* Marrón */
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
}

.boton-pedido:hover {
  background-color: #6f3f1d;
}

/* Estilo para el título con fondo superpuesto */
.titulo {
  background-image: url("images/logoMimoso.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */

  color: #c59222; /* Color del texto para buena visibilidad sobre la imagen */
}
